@CHARSET "UTF-8";
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition
	{
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* line 7, ../sass/lightbox.sass */
body:after {
	content: url(../img/close.png) url(../img/loading.gif)
		url(../img/prev.png) url(../img/next.png);
	display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
	display: block;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
	border: none;
}

.lightbox img {
	max-width: inherit !important;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
	padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
	position: absolute;
	top: 43%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container>.nav {
	left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
	outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
	width: 49%;
	height: 100%;
	cursor: pointer;
	/* Trick IE into showing hover */
	display: block;
	transition: linear 0 all;
	-webkit-transition: linear 0 all;
	-moz-transition: linear 0 all;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
	left: 0;
	float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
	background: url(../img/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
	right: 0;
	float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
	background: url(../img/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
	padding: 0 4px;
	color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.gallery {
	margin: 0 -10px
}

.gallery-option-set {
	display: block;
	margin-bottom: -5px
}

.gallery-option-set .btn {
	margin: 0 5px 5px 0
}

.gallery .image {
	width: 33%;
	display: block;
	margin-right: -10px;
	overflow: hidden;
	padding: 10px;
	float:left !important;
}

.gallery .image img {
	width: 100%;
	height: 200px;
	border-radius: 3px 3px 0 0
}

.gallery .image img, .gallery .image-inner {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0
}

.gallery .image-inner {
	position: relative;
	background: #fff;
	border-radius: 3px 3px 0 0
}

.gallery .image a {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear
}

.gallery .image a:focus, .gallery .image a:hover {
	opacity: .8;
	filter: alpha(opacity = 80)
}

.gallery .image-caption {
	position: absolute;
	top: 15px;
	left: 0;
	background: url(../img/transparent/black-0.6.png);
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 5px 15px;
	margin: 0
}

.gallery .image-info {
	background: #fff;
	padding: 15px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.gallery .image-info .title {
	margin: 0 0 10px;
	line-height: 18px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.gallery .image-info .rating {
	line-height: 20px;
	margin: 0 0 3px
}

.gallery .image-info .desc {
	line-height: 16px;
	font-size: 12px;
	height: 48px;
	overflow: hidden
}

.gallery .rating span.star {
	font-family: FontAwesome;
	display: inline-block
}

.gallery .rating span.star:before {
	content: "\f005";
	color: #999
}

.gallery .rating span.star.active:before {
	color: #FF8500
}